    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form method="post" action="">
                <div class="content-box modal-content">
                    <div class="container content-box-header">
                        <div class="row">
                          <div class="col-md-4 icon-separator">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                          </div>
                          <div class="col-md-8 text-left head-text-separator">
                            <span class="header-wrapper">
                                EMS Sign-in
                                <small>Login to your account.</small>
                            </span>
                          </div>
                        </div>
                    </div>
                    <div class="content-box-wrapper">
                        <div class="form-group has-feedback">
                          <input type="text" class="form-control has-feedback-left" id="inputSuccess1" placeholder="Username">
                          <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="form-group has-feedback">
                          <input type="password" class="form-control has-feedback-left" id="inputSuccess2" placeholder="Password">
                          <span class="fa fa-unlock-alt form-control-feedback left" aria-hidden="true"></span>
                        </div>
                        <div class="form-group">
                            <a href="" title="Recover password">Forgot Your Password?</a>
                        </div>
                        <button class="btn btn-success btn-block">Sign In</button>

                <br>
                <div style="font-size: 10px;">
                  <div><i class="fa fa-ioxhost " style="font-size: 15px;"></i> Auphantum [EMS]</div>
                  <p>©2017 All Rights Reserved. Auphantum EMS is a Bootstrap 3 template. Privacy and Terms</p>
                </div>
                    </div>
                </div>
            </form>
          </section>
        </div>
      </div>
    </div>